.custom-button {
    min-width: 160px;
    width: auto;
    height: 45px;
    font-size: 20px;
    font-family: 'Rubik';
    cursor: pointer;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    border: none;
    &.google-sign-in {
        background-color: #4285f4;
        color: white;
    }
    &:hover {
        background-color: #ffffff;
        color: #000000;
        border: 1px solid black;
    }
}

@media (max-width: 800px) {
    .custom-button {
        height: 35px;
        min-width: 0;
    }
}