.header{
    width: 100%;
    min-width: 1000px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.90);
    font-family: 'Lato';
    font-size: 20px;
    padding: 0 40px;
    a{
        color: #ffffff;
        text-decoration: none;
    }
    .contact{
        width: 200px;
    }
    .company-name{
        font-size: 28px;
        text-decoration: none !important;  
    }
    .user-panel {
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .user-panel-item {
            color: #ffffff;
            cursor: pointer;
        }
    }
}

@media (max-width: 800px) {
    .header {
        min-width: 0;
        font-size: 13px;
        padding: 0 7px;
        .contact {
            width: 85px;
        }
        .company-name {
            font-size: 19px;
        }
        .user-panel {
            width: 85px;
            .user-panel-item {
                svg {
                    padding-left: 9px;
                }
            }
        }
    }
}