@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

@mixin labelUp {
    top: -14px;
    font-size: 12px;
    color: #000000;
}

.group {
    position: relative;
    margin: 45px 0;
    font-family: 'Dosis';
  
    .form-input {
      background: none;
      background-color: #ffffff;
      color: #000000;
      font-size: 20px;
      padding: 10px 10px 10px 5px;
      display: block;
      width: 100%;
      border: none;
      border-bottom: 1px solid #444444;
      margin: 25px 0;
      &:focus {
        outline: none;
      }
      &:focus ~ .form-input-label {
        @include labelUp();
      }
    }
    .form-input-label {
      color: #696969;
      font-size: 18px;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 10px;
      transition: 300ms ease all;
      &.shrink {
        @include labelUp();
      }
    }
  }
  