@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=McLaren&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis:500&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
